// 功能性命名
$body-bg-color: rgba(0, 0, 0, 0.1);
$container-bg-color: rgba(255, 255, 255, 1);
$refresh-icon-color: rgba(255, 255, 255, 1);
$date-color: rgba(255, 255, 255, 1);

$done-color: rgba(110, 178, 0, 1);

$add-task-bg-color: rgba(65, 98, 246, 1);
$add-task-icon-color: rgba(255, 255, 255, 1);
$input-color: rgba(65, 98, 246, 1);